<!DOCTYPE html>
<html>
  <head>
    <title>注销成功</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>您已成功退出！<a href="/users/login">登陆</a></h1>
  </body>
</html>
